<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Universe</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/logosemfundo.png') }}"
    />
  </head>
  <body>
    <header></header>

    <main>
      <aside>
        <a href="{{ url_for('cliente.lista_clientes') }}">
          <div id="selecionar-clientes">Clientes</div>
        </a>
      </aside>

      <div id="conteudo">
        <section id="pesquisar-clientes">
          <h2 id="h2-clientes">CLIENTES</h2>

          <div id="linha-horizontal"></div>

          <div class="pesquisar-clientes-container">
            <div class="pesquisar-container">
              <input type="text" placeholder="Pesquisar" id="input-pesquisar" />
              <button class="btn-medio btn-press" id="btn-pesquisar">
                Pesquisar
              </button>
            </div>
            <div class="total-container">
              <button class="btn-medio btn-press" id="btn-total">Total</button>
              <div id="contagem-clientes">{{ clientes|length }} Clientes</div>
            </div>
          </div>
        </section>

        <div class="tabs">
          <button
            class="tab-button btn-press"
            id="btn-geral"
            style="
              background-color: #ffffff;
              color: #5634e0;
              position: relative;
              z-index: 1;
              box-shadow: 0px 0px 0px 0px;
            "
          >
            Geral
          </button>
          <button
            class="tab-button btn-press"
            id="btn-endereco"
            style="
              background-color: #5634e0;
              box-shadow: 0px 0px 0px 0px;
              position: relative;
              z-index: 1;
            "
          >
            Endereço
          </button>
        </div>

        <section id="cadastrar-clientes" class="secao">
          <div class="dois-h2">
            <h2 id="h2-cadastrar">CADASTRAR</h2>
            <h2 id="h2-contatos">CONTATOS</h2>
          </div>

          <form action="{{ url_for('cliente.obter_cliente') }}" method="POST">
            <div class="cadastrar-clientes-container" id="geral">
              <div class="cadastrar-container">
                <div class="form-container">
                  <div class="div-cima">
                    <label>Nome</label>
                    <input
                      type="text"
                      name="nome"
                      placeholder="Digite o Nome"
                      id="nome"
                    />
                  </div>
                  <div class="div-baixo">
                    <div>
                      <label>CPF/CNPJ</label>
                      <input
                        type="text"
                        name="CPF"
                        placeholder="Digite o CPF ou CNPJ"
                        class="input-form"
                      />
                    </div>
                    <div>
                      <label>RG</label>
                      <input
                        type="text"
                        name="RG"
                        placeholder="Digite o RG"
                        class="input-form"
                      />
                    </div>
                    <div>
                      <label>Data de Nascimento</label>
                      <input
                        type="date"
                        name="data_nascimento"
                        class="input-form"
                      />
                    </div>
                  </div>
                </div>

                <div class="div-button">
                  <button type="submit" class="btn-registrar btn-press">
                    Registrar
                  </button>
                </div>
              </div>
              <div id="linha-vertial"></div>
              <div class="contatos-container">
                <div class="div-contatos-container">
                  <div class="form-container">
                    <div class="div-cima">
                      <div>
                        <label>Celular</label>
                        <input
                          type="text"
                          name="numero_telefone"
                          placeholder="Digite o número do Celular"
                          class="input-form"
                        />
                      </div>
                      <div>
                        <label>Email</label>
                        <input
                          type="email"
                          name="email"
                          placeholder="Digite o Email"
                          class="input-form"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="cadastrar-clientes-container-2"
              id="endereco"
              style="display: none"
            >
              <div class="cadastrar-container-2">
                <div class="form-container-2">
                  <div class="div-cima-2">
                    <div>
                      <label>Estado</label>
                      <input
                        type="text"
                        name="estado"
                        placeholder="Digite o Estado"
                        id="estado"
                        class="input-form"
                      />
                    </div>
                    <div>
                      <label>Cidade</label>
                      <input
                        type="text"
                        name="cidade"
                        placeholder="Digite a Cidade"
                        id="cidade"
                        class="input-form"
                      />
                    </div>
                    <div>
                      <label>Rua</label>
                      <input
                        type="text"
                        name="rua"
                        placeholder="Digite o nome da rua"
                        id="rua"
                        class="input-form"
                      />
                    </div>
                  </div>
                  <div class="div-baixo-2">
                    <div>
                      <label>CEP</label>
                      <input
                        type="text"
                        name="CEP"
                        placeholder="Digite o CEP"
                        id="cep"
                        class="input-form"
                      />
                    </div>
                    <div>
                      <label>Bairro</label>
                      <input
                        type="text"
                        name="bairro"
                        placeholder="Digite o Bairro"
                        id="bairro"
                        class="input-form"
                      />
                    </div>
                    <div>
                      <label>Complemento</label>
                      <input
                        type="text"
                        name="complemento"
                        placeholder="Digite um Complemento"
                        id="complemento"
                        class="input-form"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div
            class="listar-clientes-container"
            id="listar"
            style="display: none"
          >
            <table>
              <thead>
                <tr>
                  <th class="cliente_id">ID</th>
                  <th class="nome">Nome</th>
                  <th class="cpf">CPF</th>
                  <th class="acao">Ação</th>
                </tr>
              </thead>
              <tbody>
                {% for cliente in clientes %}
                <tr>
                  <td class="cliente_id">{{ cliente.id_clientes }}</td>
                  <td class="nome">{{ cliente.nome }}</td>
                  <td class="cpf">{{ cliente.cpf }}</td>
                  <td class="acao">
                    <div class="btn-press" id="editar_cliente">Editar</div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
